@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table id="grid" class="table table-striped">
    <thead>
        <tr>
            <th>Edit</th>
            <th>Name</th>
            <th>Street</th>
            <th>City</th>
            <th>Zip</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var grid = $('#grid').dataTable({
                "dom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
                "processing": true,
                "ordering": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Home/GetUsers",
                    "type": "GET"
                },
                "columnDefs": [
                    {
                        "render": function (data, type, full, meta) {
                            return "<a href='#" + data + "'>Edit</a>";
                        },
                        "name": "Id",
                        "orderable": false,
                        "targets": [0]
                    },
                    {
                        "name": "FullName",
                        "searchable": true,
                        "orderable": true,
                        "targets": [1]
                    },
                    {
                        "name": "Street",
                        "searchable": true,
                        "orderable": true,
                        "targets": [2]
                    },
                    {
                        "name": "City",
                        "searchable": true,
                        "orderable": true,
                        "targets": [3]
                    },
                    {
                        "name": "Zip",
                        "searchable": true,
                        "orderable": true,
                        "targets": [4]
                    },
                    {
                        "name": "Amount",
                        "searchable": true,
                        "orderable": true,
                        "targets": [5]
                    }
                ]
            });
        });
    </script>
}